body {
  background-image: linear-gradient(rgb(221, 171, 243), rgb(145, 32, 155));
  background-attachment: fixed;
  height: 100vh
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

h1, h2, h3 {
  text-align: center;
}

.card {
  width: 70%;
  background-color: #ee8d3e;
  padding: 30px;
}

img {
  width: 100%;
}

